{# templates/resource_classification/add.html.twig #}

{% extends 'base.half.html.twig' %}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% block documentation %}
<a href="{{ path('documentation', { 'pageCode': 'RESOURCE-CLASSIFICATION' }) }}" target="_blank" class="w3-bar-item w3-button"><img src="{{ asset('images/help-16.png') }}">&nbsp;{{ 'help'|trans }}</a>
{% endblock %}

{% block content %}

<div class="w3-panel w3-border-bottom w3-text-indigo"><h4>
	<i class="w3-xlarge fa fa-{{ rtIcons[resourceType] }}"></i>&nbsp;{{ ('resourceType.create.classification.' ~ resourceType)|trans }}
</h4></div>

<div class="w3-panel w3-bottombar w3-border-deep-orange w3-border">
	<p><i class="fa fa-info-circle w3-xlarge w3-text-deep-orange"></i>&nbsp;{{ 'resourceClassification.create.warning'|trans }}</p>
</div>

{{ form_start(form, {'action': path('resource_classification_add', { 'resourceType': resourceType }), 'method': 'POST'}) }}

<form class="w3-container">

<p><label>{{ 'resourceClassification.name'|trans }}</label>
{{ form_widget(form.name) }}
<div class="w3-text-red">{{ form_errors(form.name) }}</div></p>

{{ form_rest(form) }}

<div class="w3-show-inline-block">
<div class="w3-bar w3-border w3-round">
	<a href="{{ path('resource_classification_index', { 'resourceType': resourceType }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}</a>
	<button type="submit" class="w3-bar-item w3-button w3-green"><i class="fa fa-check"></i>&nbsp;{{ 'validate'|trans }}</button>
</div>
</div>

</form>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	<script>document.getElementById('resource_classification_name').focus();</script>
{% endblock %}
