{# templates/planification/index.html.twig #}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'planification_type', 'planification', true %}

{% block documentation %}
<a href="{{ path('documentation', { 'pageCode': 'PLANIFICATION' }) }}" target="_blank" class="w3-bar-item w3-button"><img src="{{ asset('images/help-16.png') }}">&nbsp;{{ 'help'|trans }}</a>
{% endblock %}

{% block link %}

{% if listPlanifications[i*listContext.numberLinesDisplayed+j].internal %}
	<a href="{{ path('planification_edit_lp', { 'planificationID': listPlanifications[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><img src="{{ asset('images/' ~ rcIcons[listPlanifications[i*listContext.numberLinesDisplayed+j].code] ~ '-32.png') }}">&nbsp;{{ listPlanifications[i*listContext.numberLinesDisplayed+j].name }}</a>
{% else %}
	<a href="{{ path('planification_edit_lp', { 'planificationID': listPlanifications[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><i class="w3-xlarge fa fa-{{ rtIcons[listPlanifications[i*listContext.numberLinesDisplayed+j].type] }}"></i>&nbsp;{{ listPlanifications[i*listContext.numberLinesDisplayed+j].name }}</a>
{% endif %}

{% endblock %}
