{# templates/planification/view.html.twig #}

{% extends 'base.html.twig' %}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% block documentation %}
<a href="{{ path('documentation', { 'pageCode': 'PLANIFICATION' }) }}" target="_blank" class="w3-bar-item w3-button"><img src="{{ asset('images/help-16.png') }}">&nbsp;{{ 'help'|trans }}</a>
{% endblock %}

{% block body %}

<div class="w3-panel w3-border-bottom w3-text-indigo"><h4>
<img src="{{ asset('images/planification-32.png') }}"></img>&nbsp;{{ planification.name }}
{% if planificationPeriod.beginningDate == '' and planificationPeriod.endDate != '' %}
&nbsp;<i class="fa fa-calendar-check-o"></i>&nbsp;{{ 'period.until'|trans({'%endDate%': planificationPeriod.endDate|date('d/m/Y')}) }}
{% elseif planificationPeriod.beginningDate != '' and planificationPeriod.endDate == '' %}
&nbsp;<i class="fa fa-calendar-check-o"></i>&nbsp;{{ 'period.from'|trans({'%beginningDate%': planificationPeriod.beginningDate|date('d/m/Y')}) }}
{% elseif planificationPeriod.beginningDate != '' and planificationPeriod.endDate != '' %}
&nbsp;<i class="fa fa-calendar-check-o"></i>&nbsp;{{ 'period.from.to'|trans({'%beginningDate%': planificationPeriod.beginningDate|date('d/m/Y'), '%endDate%': planificationPeriod.endDate|date('d/m/Y')}) }}
{% endif %}
</h4></div>

<div class="w3-row">
<div class="w3-third w3-container">

<div class="w3-show-inline-block w3-margin-bottom">
<div class="w3-bar w3-border w3-round">
<a href="{{ path('planification_view_add', { 'planificationID': planification.id, 'planificationPeriodID': planificationPeriod.id }) }}" class="w3-bar-item w3-button w3-indigo"><i class="fa fa-plus"></i>&nbsp;{{ 'view.add'|trans }}</a>
</div>
</div>

<div class="w3-bar-block">
{% set lineNumber = 0 %}
{% for l_planificationViewUserFileGroup in planificationViewUserFileGroups %}
{% set lineNumber = lineNumber + 1 %}
{% set lineColor = (lineNumber is odd) ? 'sand' : 'transparent' %}
{% set lineColor = (l_planificationViewUserFileGroup.id == planificationViewUserFileGroup.id) ? 'indigo' : lineColor %}
{% if l_planificationViewUserFileGroup.active > 0 %}
<a href="{{ path('planification_view', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'planificationViewUserFileGroupID': l_planificationViewUserFileGroup.ID }) }}" class="w3-bar-item w3-button w3-round-large w3-{{ lineColor }}"><img src="{{ asset('images/user-group-32.png') }}">&nbsp;{{ l_planificationViewUserFileGroup.userFileGroup.name }}<span class="w3-badge w3-right w3-green"><i class="fa fa-eye"></i></span></a>
{% else %}
<a href="{{ path('planification_view', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'planificationViewUserFileGroupID': l_planificationViewUserFileGroup.ID }) }}" class="w3-bar-item w3-button w3-round-large w3-{{ lineColor }}"><img src="{{ asset('images/user-group-32.png') }}">&nbsp;{{ l_planificationViewUserFileGroup.userFileGroup.name }}<span class="w3-badge w3-right w3-red"><i class="fa fa-eye-slash"></i></span></a>
{% endif %}
{% endfor %}
</div>

<div class="w3-show-inline-block w3-margin-top">
<div class="w3-bar w3-border w3-round">
<a href="{{ path('planification_edit', { 'planificationID': planification.id, 'planificationPeriodID': planificationPeriod.id }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-arrow-left"></i>&nbsp;{{ 'planification.back'|trans }}</a>
</div>
</div>

</div>

<div class="w3-twothird w3-container">

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/user-group-32.png') }}">&nbsp;{{ planificationViewUserFileGroup.userFileGroup.name }}</h4>
</div>

<table class="w3-table w3-striped">
	<tbody>
{% for planificationViewResource in planificationViewResources %}
	<tr>
{% if planificationViewResource.internal %}
{% set resource_image = rcIcons[planificationViewResource.code] %}
	<td><img src="{{ asset('images/' ~ resource_image ~ '-32.png') }}">&nbsp;{{ planificationViewResource.name }}</td>
{% else %}
{% set resource_icon = rtIcons[planificationViewResource.type] %}
	<td><i class="w3-xlarge fa fa-{{ resource_icon }}"></i>&nbsp;{{ planificationViewResource.name }}</td>
{% endif %}
{% if planificationViewResource.active %}
	<td><img src="{{ asset('images/green-check-32.png') }}"></td>
{% else %}
	<td><img src="{{ asset('images/red-cross-32.png') }}"></td>
{% endif %}
	<td>
{% if planificationViewResource.active %}
	<a href="{{ path('planification_unactivate_view_resource', { 'planificationID': planification.id, 'planificationPeriodID': planificationPeriod.id, 'planificationViewUserFileGroupID': planificationViewUserFileGroup.id, 'planificationViewResourceID': planificationViewResource.id }) }}" class="w3-button w3-light-gray"><i class="fa fa-times"></i>&nbsp;{{ 'unactivate'|trans }}</a>
{% else %}
	<a href="{{ path('planification_activate_view_resource', { 'planificationID': planification.id, 'planificationPeriodID': planificationPeriod.id, 'planificationViewUserFileGroupID': planificationViewUserFileGroup.id, 'planificationViewResourceID': planificationViewResource.id }) }}" class="w3-button w3-green"><i class="fa fa-check"></i>&nbsp;{{ 'activate'|trans }}</a>
{% endif %}
	</td>
	</tr>
{% endfor %}
	</tbody>
</table>

<div class="w3-show-inline-block w3-margin-top">
<div class="w3-bar w3-border w3-round">
{% if planificationViewUserFileGroup.userFileGroup.type == 'MANUAL' and planificationViewUserFileGroup.order > minManualOrder %}
<a href="{{ path('planification_view_sort_before', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'planificationViewUserFileGroupID': planificationViewUserFileGroup.ID }) }}" class="w3-bar-item w3-button w3-indigo"><i class="fa fa-arrow-up"></i>&nbsp;{{ 'sort.before'|trans }}</a>
{% endif %}
{% if planificationViewUserFileGroup.userFileGroup.type == 'MANUAL' and planificationViewUserFileGroup.order < maxManualOrder %}
<a href="{{ path('planification_view_sort_after', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'planificationViewUserFileGroupID': planificationViewUserFileGroup.ID }) }}" class="w3-bar-item w3-button w3-indigo"><i class="fa fa-arrow-down"></i>&nbsp;{{ 'sort.after'|trans }}</a>
{% endif %}
{% if planificationViewUserFileGroup.active <= 0 %}
<a href="{{ path('planification_activate_view', { 'planificationID': planification.id, 'planificationPeriodID': planificationPeriod.id, 'planificationViewUserFileGroupID': planificationViewUserFileGroup.id }) }}" class="w3-bar-item w3-button w3-green"><i class="fa fa-eye"></i>&nbsp;{{ 'activate'|trans }}</a>
{% else %}
<a href="{{ path('planification_unactivate_view', { 'planificationID': planification.id, 'planificationPeriodID': planificationPeriod.id, 'planificationViewUserFileGroupID': planificationViewUserFileGroup.id }) }}" class="w3-bar-item w3-button w3-red"><i class="fa fa-eye-slash"></i>&nbsp;{{ 'unactivate'|trans }}</a>
{% endif %}
{% if planificationViewUserFileGroup.userFileGroup.type == 'ALL' %}
<button onclick="document.getElementById('dnaAllUser').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;<del>{{ 'delete'|trans }}</del></button>
{% else %}
<button onclick="document.getElementById('askDelete').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;{{ 'delete'|trans }}</button>
{% endif %}
</div>
</div>

</div>
</div>

<!-- Modal -->
<div id="dnaAllUser" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-red">
			<span onclick="document.getElementById('dnaAllUser').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'delete.not.allowed'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-red">
			<p>{{ 'view.dna.all.users'|trans }}</p>
		</div>
	</div>
</div>

<div id="askDelete" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-khaki">
			<span onclick="document.getElementById('askDelete').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'deletion'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-khaki">
			<p>{{ 'view.ask.delete'|trans({'%name%': planificationViewUserFileGroup.userFileGroup.name}) }}</p>
			<div class="w3-show-inline-block w3-right w3-margin-bottom">
			<div class="w3-bar w3-border w3-round">
				<button onclick="document.getElementById('askDelete').style.display='none'" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}</button>
				<a href="{{ path('planification_view_delete', { 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'planificationViewUserFileGroupID': planificationViewUserFileGroup.ID }) }}" class="w3-bar-item w3-button w3-red"><i class="fa fa-check"></i>&nbsp;{{ 'validate'|trans }}</a>
			</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
