{# templates/user_file/edit.html.twig #}

{% extends 'base.html.twig' %}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% block documentation %}
<a href="{{ path('documentation', { 'pageCode': 'USERFILE' }) }}" target="_blank" class="w3-bar-item w3-button"><img src="{{ asset('images/help-16.png') }}">&nbsp;{{ 'help'|trans }}</a>
{% endblock %}

{% block body %}

{% set userImage = (userFile.administrator) ? 'administrator' : 'user' %}

<div class="w3-panel w3-border-bottom w3-text-indigo"><h4>
	<img src="{{ asset('images/' ~ userImage ~ '-32.png') }}"></img>&nbsp;{{ userFile.getFirstAndLastName() }}
</h4></div>

{% if userFile.accountType == "ORGANISATION" %}
<p><img src="{{ asset('images/organisation-32.png') }}">&nbsp;<strong>{{ userFile.uniqueName }}</strong></p>
{% endif %}

{% if userFile.userCreated %}
<p><i class="fa fa-user w3-xlarge"></i>&nbsp;{{ userFile.userName }}</p>
{% endif %}
<p><i class="fa fa-envelope w3-xlarge"></i>&nbsp;{{ userFile.email }}</p>

{% if userFile.resourceUser %}
{% if userFile.resource.internal %}
<p><img src="{{ asset('images/' ~ rcIcons[userFile.resource.code] ~ '-32.png') }}">&nbsp;{{ ('resourceClassification.singular.' ~ userFile.resource.code)|trans }}</p>
{% else %}
<p><i class="w3-xlarge fa fa-{{ rtIcons['USER'] }}"></i>&nbsp;{{ userFile.resource.classification.name }}</p>
{% endif %}
{% endif %}

<div>
{% if numberBookings > 0 %}
<a href="{{ path('user_file_booking_list', { 'userFileID': userFile.ID, 'page': 1 }) }}" class="w3-text-indigo"><img src="{{ asset('images/booking-32.png') }}">&nbsp;{{ 'booking.plural'|trans }}&nbsp;<span class="w3-badge w3-indigo">{{ numberBookings }}</span></a>
{% else %}
<img src="{{ asset('images/booking-32.png') }}">&nbsp;<span class="w3-text-indigo">{{ 'booking.plural'|trans }}</span>&nbsp;<span class="w3-badge w3-indigo">{{ numberBookings }}</span>
{% endif %}
</div>

<div class="w3-show-inline-block w3-margin-top">
<div class="w3-bar w3-border w3-round">
	<a href="{{ path('user_file', { 'page': 1 }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-arrow-left"></i>&nbsp;{{ 'userFile.back.to.list'|trans }}</a>

{% if selectedUserIsFileCreator %}
	<button onclick="document.getElementById('unaFileCreator1').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-pencil"></i>&nbsp;<del>{{ 'modify'|trans }}</del></button>
{% elseif not connectedUserIsFileCreator %}
	<button onclick="document.getElementById('unaFileCreator2').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-pencil"></i>&nbsp;<del>{{ 'modify'|trans }}</del></button>
{% else %}
	<a href="{{ path('user_file_modify', { 'userFileID': userFile.ID }) }}" class="w3-bar-item w3-button w3-blue"><i class="fa fa-pencil"></i>&nbsp;{{ 'modify'|trans }}</a>
{% endif %}

{% if selectedUserIsFileCreator %}
	<button onclick="document.getElementById('dnaFileCreator1').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;<del>{{ 'delete'|trans }}</del></button>
{% elseif not connectedUserIsFileCreator %}
	<button onclick="document.getElementById('dnaFileCreator2').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;<del>{{ 'delete'|trans }}</del></button>
{% elseif numberBookings > 0 %}
	<button onclick="document.getElementById('dnaBooking').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;<del>{{ 'delete'|trans }}</del></button>
{% else %}
	<button onclick="document.getElementById('askDelete').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;{{ 'delete'|trans }}</button>
{% endif %}

{% if atLeastOneUserClassification %}
{% if userFile.resourceUser %}
{% if userFile.resource.internal %}
	<a href="{{ path('user_file_resource_internal', { 'userFileID': userFile.ID, 'resourceClassificationCode': userFile.resource.code, 'yes': 1 }) }}" class="w3-bar-item w3-button w3-light-gray"><img src="{{ asset('images/resource-16.png') }}">&nbsp;{{ 'resource.singular'|trans }}</a>
{% else %}
	<a href="{{ path('user_file_resource_external', { 'userFileID': userFile.ID, 'resourceClassificationID': userFile.resource.classification.id, 'yes': 1 }) }}" class="w3-bar-item w3-button w3-light-gray"><img src="{{ asset('images/resource-16.png') }}">&nbsp;{{ 'resource.singular'|trans }}</a>
{% endif %}
{% else %}
	<a href="{{ path('user_file_resource', { 'userFileID': userFile.ID }) }}" class="w3-bar-item w3-button w3-light-gray"><img src="{{ asset('images/resource-16.png') }}">&nbsp;{{ 'resource.singular'|trans }}</a>
{% endif %}
{% endif %}
</div>
</div>

<!-- Modal -->
<div id="unaFileCreator1" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-red">
			<span onclick="document.getElementById('unaFileCreator1').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'update.not.allowed'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-red">
			<p>{{ 'userFile.una.file.creator.1'|trans }}</p>
		</div>
	</div>
</div>

<div id="unaFileCreator2" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-red">
			<span onclick="document.getElementById('unaFileCreator2').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'update.not.allowed'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-red">
			<p>{{ 'userFile.una.file.creator.2'|trans }}</p>
		</div>
	</div>
</div>

<div id="dnaFileCreator1" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-red">
			<span onclick="document.getElementById('dnaFileCreator1').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'delete.not.allowed'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-red">
			<p>{{ 'userFile.dna.file.creator.1'|trans }}</p>
		</div>
	</div>
</div>

<div id="dnaFileCreator2" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-red">
			<span onclick="document.getElementById('dnaFileCreator2').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'delete.not.allowed'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-red">
			<p>{{ 'userFile.dna.file.creator.2'|trans }}</p>
		</div>
	</div>
</div>

<div id="dnaBooking" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-red">
			<span onclick="document.getElementById('dnaBooking').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'delete.not.allowed'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-red">
			<p>{{ 'userFile.dna.booking'|trans({'%name%': userFile.getFirstAndLastName()}) }}</p>
		</div>
	</div>
</div>

<div id="askDelete" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-khaki">
			<span onclick="document.getElementById('askDelete').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'deletion'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-khaki">
			<p>{{ 'userFile.ask.delete'|trans({'%name%': userFile.getFirstAndLastName()}) }}</p>
			<div class="w3-show-inline-block w3-right w3-margin-bottom">
			<div class="w3-bar w3-border w3-round">
				<button onclick="document.getElementById('askDelete').style.display='none'" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}</button>
				<a href="{{ path('user_file_delete', { 'userFileID': userFile.ID }) }}" class="w3-bar-item w3-button w3-red"><i class="fa fa-check"></i>&nbsp;{{ 'validate'|trans }}</a>
			</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
