{# templates/user_file/index.html.twig #}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'user_file_email', 'user_file', true %}

{% block documentation %}
<a href="{{ path('documentation', { 'pageCode': 'USERFILE' }) }}" target="_blank" class="w3-bar-item w3-button"><img src="{{ asset('images/help-16.png') }}">&nbsp;{{ 'help'|trans }}</a>
{% endblock %}

{% block link %}

{% if listUserFiles[i*listContext.numberLinesDisplayed+j].administrator %} {% set image = 'administrator-32.png' %} {% else %} {% set image = 'user-32.png' %} {% endif %}
{% if listUserFiles[i*listContext.numberLinesDisplayed+j].userCreated %}
	<a href="{{ path('user_file_edit', { 'userFileID': listUserFiles[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><img src="{{ asset('images/' ~ image) }}">&nbsp;{{ listUserFiles[i*listContext.numberLinesDisplayed+j].getFirstAndLastName() }}&nbsp;&nbsp;&nbsp;<i class="fa fa-user"></i>&nbsp;{{ listUserFiles[i*listContext.numberLinesDisplayed+j].userName }}</a>
{% else %}
	<a href="{{ path('user_file_edit', { 'userFileID': listUserFiles[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><img src="{{ asset('images/' ~ image) }}">&nbsp;{{ listUserFiles[i*listContext.numberLinesDisplayed+j].getFirstAndLastName() }}</a>
{% endif %}

{% endblock %}
