{% extends 'base.connected.html.twig' %}
 
{% block body %}

{{ form_start(form, {'action': path('timetable_delete', { 'timetableID': timetable.ID }), 'method': 'POST', 'class': 'form-horizontal'}) }}

<legend><img src="{{ asset('images/time-32.png') }}">&nbsp;</img>&nbsp;{{ timetable.name }}</legend>

<p>{{ 'timetable.ask.delete'|trans({'%name%': timetable.name}) }}</p>

<div class="btn-group">
<a href="{{ path('timetable_edit', { 'timetableID': timetable.ID }) }}" class="btn btn-default"><i class="glyphicon glyphicon-chevron-left"></i> {{ 'cancel'|trans }}</a>
<button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-ok"></i> {{ 'validate'|trans }}</button>
</div>

{{ form_end(form) }}

{% endblock %}
