{# templates/timetable/index.html.twig #}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'timetable_add', 'timetable', true %}

{% set internalTypes = ['D', 'HD'] %}

{% block documentation %}
<a href="{{ path('documentation', { 'pageCode': 'TIMETABLE' }) }}" target="_blank" class="w3-bar-item w3-button"><img src="{{ asset('images/help-16.png') }}">&nbsp;{{ 'help'|trans }}</a>
{% endblock %}

{% block link %}

{% if listTimetables[i*listContext.numberLinesDisplayed+j].type in internalTypes %}
	<a href="{{ path('timetable_edit', { 'timetableID': listTimetables[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-pale-red w3-round-large"><img src="{{ asset('images/time-32.png') }}">&nbsp;{{ listTimetables[i*listContext.numberLinesDisplayed+j].name }}</a>
{% else %}
	<a href="{{ path('timetable_edit', { 'timetableID': listTimetables[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><img src="{{ asset('images/time-32.png') }}">&nbsp;{{ listTimetables[i*listContext.numberLinesDisplayed+j].name }}</a>
{% endif %}

{% endblock %}
