{# templates/default/summary.html.twig #}

{% extends 'base.html.twig' %}
 
{% block body %}

{% if displayInnovations %}
<div class="w3-margin-top">
<button onclick="document.getElementById('innovation-planification-views').style.display='block'" class="w3-button w3-deep-orange">Nouveau dans Slam Booking</button>
</div> 
{% endif %}

{% if userContext.getCurrentUserFileAdministrator() %}

<div class="w3-bar w3-margin-top">
	<button class="w3-bar-item w3-button w3-khaki w3-border w3-hover-light-blue" onclick="displayTab('flow')">{{ 'summary'|trans }}</button>
	<button class="w3-bar-item w3-button w3-khaki w3-border w3-hover-light-blue" onclick="displayTab('administration')">{{ 'administration'|trans }}</button>
</div>

<div id="flow" class="city">
	{{ include('default/flow.html.twig') }}
</div>
<div id="administration" class="city" style="display:none">
	{{ include('default/administration.html.twig') }}
</div>

{% else %}
<div class="w3-margin-top">
{{ include('default/flow.html.twig') }}
</div>

{% endif %}

<div id="innovation-planification-views" class="w3-modal w3-animate-opacity">
  <div class="w3-modal-content w3-text-indigo">
    <header class="w3-container w3-deep-orange">
      <span onclick="document.getElementById('innovation-planification-views').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
      <h3>Groupes d'utilisateurs et vues personnalisées</h3>
    </header>
    <div class="w3-container w3-bottombar w3-border-deep-orange">
      <p>Vous pouvez désormais créer des groupes d'utilisateurs</p>
      <p>Ainsi que des vues distinctes sur le planning selon le groupe auquel appartient l'utilisateur</p>
<img src="{{ asset('images/new-USER-GROUP-001.png') }}"></img>
      <p>Voir plus d'information dans la page des groupes d'utilisateurs et des planifications de la documentation</p>
      <div class="w3-show-inline-block w3-right w3-margin-bottom">
      <div class="w3-bar w3-border w3-round">
        <a href="{{ path('default_validate_innovation', { 'innovationCode': '20200202_USER-FILE-GROUP' }) }}" class="w3-button w3-deep-orange"><i class="fa fa-check"></i>&nbsp;{{ 'ok.thanks'|trans }}</a>
      </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}

<script>
function displayTab(tabCode) {
  var i;
  var x = document.getElementsByClassName("city");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  document.getElementById(tabCode).style.display = "block";  
}
</script>

{% endblock %}
