<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/booking-32.png') }}"></img>&nbsp;Saisir une r&eacute;servation</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Cliquer sur le bouton &laquo;r&eacute;server&raquo; de l&apos;emplacement du planning correspondant &agrave; la ressource souhait&eacute;e et l&apos;heure de d&eacute;but souhait&eacute;e</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-001-Creer-reservation.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;La r&eacute;servation est initi&eacute;e pour le seul cr&eacute;neau choisi et pour l&apos;utilisateur connect&eacute;</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-002-Creer-reservation-details.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>La r&eacute;servation peut &ecirc;tre valid&eacute;e directement ou bien modifi&eacute;e de la mani&egrave;re suivante:</p>
<p>3&nbsp;&ndash;&nbsp;En cliquant sur le cr&eacute;neau de fin, il est possible de le modifier. La r&eacute;servation couvrira toute la p&eacute;riode correspondante</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-003-Creer-reservation-creneau-fin-periode.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>4&nbsp;&ndash;&nbsp;En cliquant sur l&apos;utilisateur, il est possible de le changer (r&eacute;server pour un autre utilisateur) ou bien ajouter d&apos;autres utilisateurs &agrave; la r&eacute;servation</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-004-Creer-reservation-utilisateurs.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>5&nbsp;&ndash;&nbsp;En cliquant sur le lien &laquo;Etiquettes&raquo;, il est possible d&apos;attacher &agrave; la r&eacute;servation une ou plusieurs &eacute;tiquettes (&agrave; condition qu&apos;elles aient &eacute;t&eacute; pr&eacute;alablement saisies dans le menu Administration)</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-005-Creer-reservation-etiquettes.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>6&nbsp;&ndash;&nbsp;Enfin, il est possible de saisir une note</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-006-Creer-reservation-note.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>7&nbsp;&ndash;&nbsp;Une fois que la r&eacute;servation est saisie, il reste &agrave; la valider</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-007-Validation-creation-reservation.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>8&nbsp;&ndash;&nbsp;Le planning est actualis&eacute;</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-008-Affichage-planning.png') }}"></img>
</div>

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/booking-32.png') }}"></img>&nbsp;Modifier une r&eacute;servation</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;En cliquant sur le bouton &laquo;Consulter et modifier&raquo; on acc&egrave;de au d&eacute;tail de la r&eacute;servation</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-009-Consultation-modification-reservation.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;Il est alors possible de modifier, supprimer ou dupliquer la r&eacute;servation</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-010-Consultation-reservation.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Si vous n&apos;&ecirc;tes pas &agrave; l&apos;origine de la r&eacute;servation vous ne pouvez que la consulter. A moins que vous ayez le droit administrateur sur le dossier</p>
</div>

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/booking-32.png') }}"></img>&nbsp;Dupliquer une r&eacute;servation</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Depuis le planning, cliquer sur le bouton &laquo;Consulter et modifier&raquo;</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-011-Duplication-reservation.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;Cliquer sur le bouton &laquo;Dupliquer&raquo;</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-012-Duplication-reservation.png.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>3&nbsp;&ndash;&nbsp;La page de duplication est scind&eacute;e en deux: A gauche la r&eacute;servation intiale, &agrave; droite le planning du m&ecirc;me jour mais &agrave; la semaine suivante: il s&apos;agit du premier jour propos&eacute; pour la duplication</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-013-Duplication-reservation.png.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Si la p&eacute;riode est libre pour le jour de duplication, le bouton &laquo;Dupliquer&raquo; est actif</p>
<p>4&nbsp;&ndash;&nbsp;En cliquant sur le bouton &laquo;Dupliquer&raquo;, la r&eacute;servation est cr&eacute;&eacute;e, et elle apparait donc sur la partie droite de la page</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-014-Reservation-dupliquee.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>5&nbsp;&ndash;&nbsp;Le bouton &laquo;Semaine suivante&raquo; permet de r&eacute;p&eacute;ter l&apos;op&eacute;ration pour le jour de la r&eacute;servation de la semaine suivante</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-BOOKING-015-Duplication-reservation-semaine-suivante.png') }}"></img>
</div>
