<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/time-32.png') }}"></img>&nbsp;Cr&eacute;ation d&apos;une grille horaire</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Cliquer sur le lien</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-TIMETABLE-001-Ajouter-grille-horaire.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;Saisir un nom</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-TIMETABLE-002-Ajouter-grille-horaire-nom.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>3&nbsp;&ndash;&nbsp;Saisir l&apos;heure de d&eacute;but du premier cr&eacute;neau</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-TIMETABLE-003-Ajouter-creneau-horaire-1.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>4&nbsp;&ndash;&nbsp;Saisir de m&ecirc;me les heures de d&eacute;but et de fin de chaque cr&eacute;neau</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-TIMETABLE-004-Ajouter-creneau-horaire-2.png') }}"></img>
</div>

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/time-32.png') }}"></img>&nbsp;Consultation d&apos;une grille horaire</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>D&eacute;tail d&apos;une grille horaire</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-TIMETABLE-005-Grille-horaire-creee.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Liste des grilles horaires</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-TIMETABLE-006-Liste-grilles-horaires.png') }}"></img>
</div>
