<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/file-32.png') }}"></img>&nbsp;Cr&eacute;er un dossier</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Cliquer sur le lien</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-001-Creer-un-dossier.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;Saisir un nom</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-002-Nom-du-dossier.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>3&nbsp;&ndash;&nbsp;Le dossier saisi apparait dans la liste</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-003-Dossier-cree.png') }}"></img>
</div>

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/file-32.png') }}"></img>&nbsp;Options d&apos;un dossier</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Gestion des emails. Il est possible de param&eacute;trer un envoi de mail aux administrateurs du dossier ainsi qu&apos;aux utilisateurs. Il seront avertis &agrave; chaque cr&eacute;ation ou mise des jour des r&eacute;servations</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-005-Emails.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;Gestion de la p&eacute;riode autoris&eacute;e. Il est possible de limiter la p&eacute;riode au cours de laquelle les r&eacute;servations sont autoris&eacute;es. Les administrateurs du dossier ne sont pas soumis &agrave; ces restrictions</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-006-Periodes.png') }}"></img>
</div>

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/file-32.png') }}"></img>&nbsp;Multi dossiers</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Il est possible de g&eacute;rer plusieurs dossiers avec le m&ecirc;me login. Un seul dossier est positionn&eacute; comme &laquo;en cours&raquo;. Le nom du dossier en cours apparait dans la bannière du haut de chaque page</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-008-Multi-dossiers.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Pour positionner un dossier &agrave; &laquo;en cours&raquo;, cliquer sur le bouton pr&eacute;vu</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-009-Dossier-en-cours.png') }}"></img>
</div>
