<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/resource-32.png') }}"></img>&nbsp;Cr&eacute;ation d&apos;une ressource</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Cliquer sur le lien</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-RESOURCE-001-Ajouter-resource.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;Saisir la classification de la ressource parmi les classifications actives</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-RESOURCE-002-Ajouter-resource-type.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>3&nbsp;&ndash;&nbsp;Saisir un nom</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-RESOURCE-003-Ajouter-resource-nom.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>4&nbsp;&ndash;&nbsp;La ressource apparait dans la liste</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-RESOURCE-004-Liste-ressources.png') }}"></img>
</div>
