<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Acc&egrave;s au planning par le menu</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-001-acces-menu.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;La liste des planifications apparait sur la gauche et le planning de la planification s&eacute;lectionn&eacute;e sur la droite</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-002-Planning.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>3&nbsp;&ndash;&nbsp;Il est possible de modifier la date du planning. En cliquant dans la zone de saisie un calendrier apparait</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-003-Calendrier.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>4&nbsp;&ndash;&nbsp;Valider la date s&eacute;lectionn&eacute;e par le bouton situ&eacute; &agrave; droite de la zone de saisie</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-004-Appel-calendrier.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>5&nbsp;&ndash;&nbsp;La nouvelle date apparait sur la gauche</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-005-Nouvelle-date.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>6&nbsp;&ndash;&nbsp;Il est &eacute;galement possible de modifier la date en cliquant sur les boutons &laquo;jour suivant&raquo; et &laquo;jour pr&eacute;c&eacute;dent&raquo;</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-006-Jour-suivant.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>7&nbsp;&ndash;&nbsp;Le planning peut afficher plusieurs jours cons&eacute;cutifs. Pour cela cliquer sur le bouton &laquo;&eacute;tendre le planning vers la droite&raquo;</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-007-Etendre-droite.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>8&nbsp;&ndash;&nbsp;Ou bien cliquer sur le bouton &laquo;&eacute;tendre le planning vers le bas&raquo;</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-008-Etendre-bas.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>9&nbsp;&ndash;&nbsp;L&apos;affichage du planning s&apos;&eacute;tend ainsi sur la p&eacute;riode correspondante</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-009-Plusieurs-jours.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>10&nbsp;&ndash;&nbsp;Un dernier bouton &laquo;planning &eacute;largi&raquo; cache la liste des planifications sur la gauche et affiche le planning sur toute la largeur de la page</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-010-Planning-elargi.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>11&nbsp;&ndash;&nbsp;Ceci est utile pour les planifications regroupant plusieurs ressources et lorsque la p&eacute;riode de planning est importante</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANNING-011-Affichage-planning-elargi.png') }}"></img>
</div>
