<p class="w3-text-indigo">Initialement, le seul utilisateur affect&eacute; au dossier est celui qui l&apos;a cr&eacute;&eacute;</p>

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/user-32.png') }}"></img>&nbsp;Ajouter un utilisateur</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Cliquer sur le lien</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-001-Ajouter-utilisateur.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;Saisir l&apos;email de l&apos;utilisateur</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-002-Ajouter-utilisateur-email.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>3&nbsp;&ndash;&nbsp;Si l&apos;email correspond à un utilisateur d&eacute;j&agrave; inscrit, il est automatiquement affect&eacute; au dossier, sinon il faut saisir le d&eacute;tail des informations concernant cet utilisateur</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-003-Ajouter-utilisateur-details.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>4&nbsp;&ndash;&nbsp;Il apparait alors dans la liste des utilisateurs affect&eacute;s au dossier</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-004-Utilisateur-saisi.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>5&nbsp;&ndash;&nbsp;Une fois inscrit, son code utilisateur est visible dans la liste (&agrave; droite de son nom)</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-005-Utilisateur-inscrit.png') }}"></img>
</div>

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/administrator-32.png') }}"></img>&nbsp;Droit administrateur</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Une fois qu&apos;il est inscrit, il n&apos;est plus possible de modifier un utilisateur, c'est lui seul qui peut le faire.</p>
<p>Lorsque l&apos;on clique sur &laquo;Modifier&raquo;, on peut en revanche lui affecter le droit d&apos;administrateur. Tous les utilisateurs qui ont ce droit ont acc&egrave;s à tous les &eacute;crans d&apos;administration du dossier</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-006-Utilisateur-administrateur.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Il apparait alors avec l&apos;ic&ocirc;ne caract&eacute;ristique des administrateurs</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-007-Utilisateur-administrateur.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Vous pouvez ajouter ainsi autant d&apos;utilisateurs au dossier que vous le souhaitez</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-008-Liste-utilisateurs.png') }}"></img>
</div>
