<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Slam Booking est une application internet qui vous permet de g&eacute;rer les plannings de salles, de v&eacute;hicules, de courts (tennis, squash), d&apos;outils&hellip;</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-RESOURCE-CLASSIFICATION-001-Activer-desactiver.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;Le responsable du dossier entre les diff&eacute;rentes ressources et leur planification en d&eacute;finissant ses grilles horaires</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-TIMETABLE-004-Ajouter-creneau-horaire-2.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>3&nbsp;&ndash;&nbsp;Les utilisateurs visualisent les plannings sur leur page d&apos;accueil et entrent leurs r&eacute;servations</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-SLAM-BOOKING-003-Planning.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>4&nbsp;&ndash;&nbsp;Slam Booking est un syst&egrave;me multi dossiers: Vous pouvez par exemple g&eacute;rer les r&eacute;servations pour une association et les r&eacute;servations pour votre entreprise, s&eacute;par&eacute;ment mais en utilisant le m&ecirc;me login</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-FILE-008-Multi-dossiers.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>5&nbsp;&ndash;&nbsp;Slam Booking est un syst&egrave;me multi-utilisateurs: Vous pouvez donner acc&egrave;s aux plannings des r&eacute;servations aux personnes que vous souhaitez. Cette affectation se fait par dossier</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-008-Liste-utilisateurs.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>6&nbsp;&ndash;&nbsp;Slam Booking est gratuit: Aucune donn&eacute;e personnelle en dehors de votre email n&apos;est demand&eacute;e</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-REGISTRATION-001-S-inscrire.png') }}"></img>
</div>
