<div class="w3-panel w3-teal w3-round-large">
<p>Afin de r&eacute;server une ressource, il faut que cette ressource soit planifi&eacute;e. Cela revient &agrave; indiquer pour chaque jour de la semaine, si la ressource est r&eacute;servable ou pas et si oui, selon quelle grille horaire.</p>
<p>De plus une planification peut regrouper plusieurs ressources. Toutes les ressources d&apos;une m&ecirc;me planification apparaitront dans la m&ecirc;me page du planning</p>
</div>

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/planification-32.png') }}"></img>&nbsp;Cr&eacute;ation d&apos;une planification</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Cliquer sur le lien</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-001-Creer-planification.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Une planification peut regrouper plusieurs ressources. Elles apparaitront alors dans la m&ecirc;me page du plannig.</p>
<p>2&nbsp;&ndash;&nbsp;Saisir le type des ressources &agrave; planifier</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-002-Creer-planification-type.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>3&nbsp;&ndash;&nbsp;S&eacute;lectionner les ressources &agrave; planifier et l&apos;ordre dans lequel elles apparaitront dans le planning</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-003-Creer-planification-ressources.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>4&nbsp;&ndash;&nbsp;Activer les jours de la semaine pour lesquels la ou les ressources de la planification sont ouvertes &agrave; la r&eacute;servation et s&eacute;lectionner la grille horaire correspondante.</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-004-Creer-planification-grilles-horaires.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Visualisation du d&eacute;tail de la planification</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-005-Editer-planification.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>Par d&eacute;faut, le nom de la planification est le nom de sa premi&egrave;re ressource</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-006-Modification-nom-planification.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>5&nbsp;&ndash;&nbsp;Il est possible de modifier ce nom. Ceci est particuli&egrave;remet utile lorsque plusieurs ressources sont regroup&eacute;es dans une m&ecirc;me planification</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-007-Modification-nom-planification.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>6&nbsp;&ndash;&nbsp;La planification apparait dans la liste des planifications</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-008-Liste-planifications.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>7&nbsp;&ndash;&nbsp;Saisir ainsi les planifications des autres ressources</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-009-Liste-planifications.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>8&nbsp;&ndash;&nbsp;G&eacute;rer les vues par groupe d&apos;utilisateurs</p>
</div>

<div class="w3-panel w3-khaki w3-round">
<p>8&nbsp;&ndash;&nbsp;1&nbsp;&ndash;&nbsp;Voici trois ressources mat&eacute;riel de formation</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-010-Vue-ressources.png') }}"></img>
</div>

<div class="w3-panel w3-khaki w3-round">
<p>8&nbsp;&ndash;&nbsp;2&nbsp;&ndash;&nbsp;On planifie ces ressources puis on clique sur le bouton &laquo;vues&raquo;</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-011-Vue-acces.png') }}"></img>
</div>

<div class="w3-panel w3-khaki w3-round">
<p>8&nbsp;&ndash;&nbsp;3&nbsp;&ndash;&nbsp;Une premi&egrave;re vue est cr&eacute;&eacute;e automatiquement. Elle est affect&eacute;e au groupe de tous les utilisateurs.&nbsp;On choisit par exemple de d&eacute;sactiver la ressource &laquo;viso conf&eacute;rence&raquo;</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-013-Vue-tous-utilisateurs.png') }}"></img>
</div>

<div class="w3-panel w3-khaki w3-round">
<p>8&nbsp;&ndash;&nbsp;4&nbsp;&ndash;&nbsp;On cr&eacute;e une nouvelle vue affect&eacute;e &egrave; un autre groupe d&apos;utilisateurs: le groupe des formateurs</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-014-Vue-nouveau-groupe.png') }}"></img>
</div>

<div class="w3-panel w3-khaki w3-round">
<p>8&nbsp;&ndash;&nbsp;5&nbsp;&ndash;&nbsp;On a ainsi restreint l&apos;accs au mat&eacute;riel de visio conf&eacute;rence au groupe des formateurs</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-PLANIFICATION-015-Vue-nouveau-groupe.png') }}"></img>
</div>
