<p class="w3-text-indigo">Initialement, le groupe de tous les utilisateurs est cr&eacute;&eacute;</p>

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/user-group-32.png') }}"></img>&nbsp;Ajouter un groupe d&apos;utilisateurs</h4>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>1&nbsp;&ndash;&nbsp;Cliquer sur le lien</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-GROUP-001-Ajouter-groupe.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>2&nbsp;&ndash;&nbsp;Saisir le nom du groupe</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-GROUP-002-Groupe-nom.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>3&nbsp;&ndash;&nbsp;S&eacute;lectionner les utilisateurs du groupe</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-GROUP-003-Groupe-utilisateurs.png') }}"></img>
</div>

<div class="w3-panel w3-teal w3-round-large">
<p>4&nbsp;&ndash;&nbsp;Le nouveau groupe apparait dans la liste des groupes d&apos;utilisateurs</p>
</div>

<div class="w3-panel w3-border-left w3-border-bottom w3-round-large w3-border-teal">
<img src="{{ asset('images/doc-USERFILE-GROUP-004-Liste-groupes.png') }}"></img>
</div>
