{# templates/booking/duplicate.many.html.twig #}

{% extends 'booking/duplicate.html.twig' %}

{% block planning_link %}
<a href="{{ path('planning_many', { 'planificationID': planification.ID, 'date': planningDate|date('Ymd') }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-arrow-left"></i>&nbsp;{{ 'planning.back'|trans }}</a>
{% endblock %}

{% block duplicate_previous_week_link %}
<a href="{{ path('booking_many_duplicate', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'gap': previousGap }) }}" class="w3-bar-item w3-button w3-indigo"><i class="fa fa-chevron-left"></i>&nbsp;{{ 'week.previous'|trans }}</a>
{% endblock %}

{% block duplicate_next_week_link %}
<a href="{{ path('booking_many_duplicate', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'gap': nextGap }) }}" class="w3-bar-item w3-button w3-indigo"><i class="fa fa-chevron-right"></i>&nbsp;{{ 'week.next'|trans }}</a>
{% endblock %}

{% block duplicate_validate_link %}
<a href="{{ path('booking_many_validate_duplicate', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'gap': gap }) }}" class="w3-bar-item w3-button w3-green"><i class="fa fa-check"></i>&nbsp;{{ 'duplicate'|trans }}</a>
{% endblock %}

{% block duplicate_delete_link %}
<a href="{{ path('booking_many_delete_duplicate', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'gap': gap, 'newBookingID': newBookingID }) }}" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;{{ 'delete'|trans }}</a>
{% endblock %}
