{# templates/booking/labels.update.one.html.twig #}

{% extends 'booking/labels.html.twig' %}

{% block link_sortBefore %}
	<a href="{{ path('booking_one_labels_update', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList, 'noteID': noteID, 'labelIDInitialList': labelIDInitialList, 'labelIDList': label.entityIDList_sortBefore }) }}" class="w3-button w3-text-indigo" title="{{ 'sort.before'|trans }}"><i class="fa fa-arrow-up w3-large"></i></a>
{% endblock %}

{% block link_sortAfter %}
	<a href="{{ path('booking_one_labels_update', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList, 'noteID': noteID, 'labelIDInitialList': labelIDInitialList, 'labelIDList': label.entityIDList_sortAfter }) }}" class="w3-button w3-text-indigo" title="{{ 'sort.after'|trans }}"><i class="fa fa-arrow-down w3-large"></i></a>
{% endblock %}

{% block link_unselect %}
	<a href="{{ path('booking_one_labels_update', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList, 'noteID': noteID, 'labelIDInitialList': labelIDInitialList, 'labelIDList': label.entityIDList_unselect }) }}" class="w3-button w3-text-indigo" title="{{ 'label.unselect'|trans }}"><i class="fa fa-arrow-right w3-large"></i></a>
{% endblock %}

{% block link_select %}
	<a href="{{ path('booking_one_labels_update', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList, 'noteID': noteID, 'labelIDInitialList': labelIDInitialList, 'labelIDList': label.entityIDList_select }) }}" class="w3-button w3-text-indigo" title="{{ 'label.select'|trans }}"><i class="fa fa-arrow-left w3-large"></i></a>
{% endblock %}

{% block booking_buttons %}
	<a href="{{ path('booking_one_update', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList, 'labelIDList': labelIDInitialList, 'noteID': noteID }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-arrow-left"></i>&nbsp;{{ 'cancel'|trans }}</a>
	<a href="{{ path('booking_one_update', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList, 'labelIDList': labelIDList, 'noteID': noteID }) }}" class="w3-bar-item w3-button w3-green"><i class="fa fa-check"></i>&nbsp;{{ 'validate'|trans }}</a>
{% endblock %}
