{# templates/booking/note.update.many.html.twig #}

{% extends 'booking/note.html.twig' %}

{% block form_start %}
{{ form_start(form) }}
{% endblock %}

{% block booking_buttons %}
	<a href="{{ path('booking_many_update', { 'planningDate': planningDate|date('Ymd'), 'bookingID': booking.ID, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': resource.ID, 'timetableLinesList': timetableLinesList, 'userFileIDList': userFileIDList, 'labelIDList': labelIDList, 'noteID': noteID }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-arrow-left"></i>&nbsp;{{ 'cancel'|trans }}</a>
	<button type="submit" class="w3-bar-item w3-button w3-green"><i class="fa fa-check"></i>&nbsp;{{ 'validate'|trans }}</button>
{% endblock %}

{% block form_end %}
{{ form_end(form) }}
{% endblock %}
