{# templates/planning/booking.list.html.twig #}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% extends 'booking.list.html.twig' %}

{% block number_lines_and_columns_link %}
	<a href="{{ path('parameter_number_lines_columns', { 'entityCode': listContext.entityCode, 'listPath': list_path }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-wrench"></i>&nbsp;{{ 'parameters'|trans }}</a>
{% endblock %}

{% block page_1_link %}
	<a href="{{ path(list_path, { 'page': 1 }) }}" class="w3-bar-item w3-button">1</a>
{% endblock %}

{% block page_minus_1_link %}
	<a href="{{ path(list_path, { 'page': (listContext.page-1) }) }}" class="w3-bar-item w3-button">{{ (listContext.page-1) }}</a>
{% endblock %}

{% block page_plus_1_link %}
	<a href="{{ path(list_path, { 'page': (listContext.page+1) }) }}" class="w3-bar-item w3-button">{{ (listContext.page+1) }}</a>
{% endblock %}

{% block page_link %}
	<a href="{{ path(list_path, { 'page': listContext.page }) }}" class="w3-bar-item w3-button w3-indigo">{{ listContext.page }}</a>
{% endblock %}

{% block last_page_link %}
	<a href="{{ path(list_path, { 'page': listContext.numberPages }) }}" class="w3-bar-item w3-button">{{ listContext.numberPages }}</a>
{% endblock %}

{% block back_link %}
	<a href="{{ path('default_summary') }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-arrow-left"></i>&nbsp;{{ 'back'|trans }}</a>
{% endblock %}
