{# templates/planning/day.html.twig #}

<table class="table table-bordered table-striped">
	<thead>
	<tr>
{% if planningContext.displayDate() %}
	<th style="color:blue">{{ dateCourte(planningContext.getDay(day_key).date) }}</th>
{% else %}
	<th></th>
{% endif %}
{% for planificationResource in planificationResources %}
	<th>
{% if planificationResource.resource.internal %}
	<img src="{{ asset('images/' ~ rcIcons[planificationResource.resource.code] ~ '-16.png') }}">&nbsp;{{ planificationResource.resource.name }}
{% else %}
	<img src="{{ asset('images/' ~ rtIcons[planificationResource.resource.type] ~ '-16.png') }}">&nbsp;{{ planificationResource.resource.name }}
{% endif %}
	</th>
{% endfor %}
	</tr>
	</thead>
	<tbody>
{% if planningContext.getDay(day_key).type == 'X' %}
<tr>
	<td></td><td colspan={{ planificationResources|length }}><button type="button" class="glyphicon glyphicon-ban-circle btn-link" style="color:red" data-toggle="modal" data-target="#bnaEndPeriod"></button></td>
</tr>

{% elseif planningContext.getDay(day_key).type == 'C' %}
<tr>
	<td></td><td colspan={{ planificationResources|length }}><button type="button" class="glyphicon glyphicon-ban-circle btn-link" style="color:red" data-toggle="modal" data-target="#bnaDayClosed"></button></td>
</tr>
{% else %}
{% for timetableLine in planningContext.getDay(day_key).timetableLines %}
<tr>
	<td>{{ timetableLine(timetableLine) }}</td>
{% for planificationResource in planificationResources %}

{% set key = planningContext.getDay(day_key).date|date('Ymd') ~ '-' ~ planification.ID ~ '-' ~ planificationPeriod.ID ~ '-' ~ planningContext.getDay(day_key).planificationLine.ID ~ '-' ~ planificationResource.resource.ID ~ '-' ~ timetableLine.timetable.ID ~ '-' ~ timetableLine.ID %}

{% if bookings[key] is defined %}
{% if bookings[key].type == 'H' %}
{% if bookings[key].numberTimetableLines > 1 %}
		<td class="{{ bookings[key].cellClass }}" rowspan={{ bookings[key].numberTimetableLines }}>
{% else %}
		<td class="{{ bookings[key].cellClass }}">
{% endif %}

<table><tr><td>
<img src="{{ asset('images/user-16.png') }}">&nbsp;
{{ bookings[key].firstUserName }}

{% if (bookings[key].numberUsers > 1) %}
&nbsp;<span class="w3-badge w3-green">&plus;{{ (bookings[key].numberUsers-1) }}</span>
{% endif %}

{% if (bookings[key].numberLabels > 0) %}
<img src="{{ asset('images/label-16.png') }}">&nbsp;{{ bookings[key].firstLabelName }}
{% endif %}

{% if (bookings[key].numberLabels > 1) %}
<span class="w3-badge w3-orange">&plus;{{ (bookings[key].numberLabels-1) }}</span>
{% endif %}

{% if bookings[key].getNoteExists() %}
<img src="{{ asset('images/note-16.png') }}" title="{{ bookings[key].note }}">&nbsp;
{% endif %}

{% if planningContext.displayButtons %}
{% if userContext.getCurrentUserFileAdministrator() or bookings[key].userId == userContext.user.id %}
<a href="{{ path(booking_view, { 'planningDate': date|date('Ymd'), 'bookingID': bookings[key].id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': planificationResource.resource.ID }) }}" class="glyphicon glyphicon-pencil" title="{{ 'view.and.modify'|trans }}"></a>
{% else %}
<a href="{{ path(booking_view, { 'planningDate': date|date('Ymd'), 'bookingID': bookings[key].id, 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': planificationResource.resource.ID }) }}" class="glyphicon glyphicon-eye-open" title="{{ 'view'|trans }}"></a>
{% endif %}
{% endif %}

</td></tr></table>

		</td>
{% endif %}
{% else %}
		<td>
{% if planningContext.displayButtons %}
{% if planningContext.getDay(day_key).type == 'B' %}
<button type="button" class="glyphicon glyphicon-plus btn-link" style="color:red" data-toggle="modal" data-target="#bnaBefore"></button>
{% elseif planningContext.getDay(day_key).type == 'A' %}
<button type="button" class="glyphicon glyphicon-plus btn-link" style="color:red" data-toggle="modal" data-target="#bnaAfter"></button>
{% else %}
<a href="{{ path(booking_create, { 'planningDate': date|date('Ymd'), 'planificationID': planification.ID, 'planificationPeriodID': planificationPeriod.ID, 'resourceID': planificationResource.resource.ID, 'timetableLinesList': (planningContext.getDay(day_key).date|date('Ymd') ~ '+' ~ timetableLine.timetable.ID ~ '+' ~ timetableLine.ID), 'userFileIDList': userContext.getCurrentUserFile().getID(), 'labelIDList': 0, 'noteID': 0 }) }}" class="glyphicon glyphicon-plus" title="{{ 'booking.book'|trans }}"></a>
{% endif %}
{% endif %}
		</td>
{% endif %}
{% endfor %}
</tr>
{% endfor %}
{% endif %}
	</tbody>
</table>
