{# templates/resource/index.html.twig #}

{% set rtIcons = constant('App\\Entity\\Constants::RESOURCE_TYPE_ICON') %}
{% set rcIcons = constant('App\\Entity\\Constants::RESOURCE_CLASSIFICATION_ICON') %}

{% block documentation %}
<a href="{{ path('documentation', { 'pageCode': 'RESOURCE' }) }}" target="_blank" class="w3-bar-item w3-button"><img src="{{ asset('images/help-16.png') }}">&nbsp;{{ 'help'|trans }}</a>
{% endblock %}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'resource_classification', 'resource', true %}

{% block link %}

{% if listResources[i*listContext.numberLinesDisplayed+j].internal %}

{% set resource_image = rcIcons[listResources[i*listContext.numberLinesDisplayed+j].code] %}
{% if listResources[i*listContext.numberLinesDisplayed+j].planified %}
	<a href="{{ path('resource_edit', { 'resourceID': listResources[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><img src="{{ asset('images/' ~ resource_image ~ '-32.png') }}">&nbsp;{{ listResources[i*listContext.numberLinesDisplayed+j].name }}<span class="w3-badge w3-right w3-green">P</span></a>
{% else %}
	<a href="{{ path('resource_edit', { 'resourceID': listResources[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><img src="{{ asset('images/' ~ resource_image ~ '-32.png') }}">&nbsp;{{ listResources[i*listContext.numberLinesDisplayed+j].name }}</a>
{% endif %}

{% else %}

{% set resource_icon = rtIcons[listResources[i*listContext.numberLinesDisplayed+j].type] %}
{% if listResources[i*listContext.numberLinesDisplayed+j].planified %}
	<a href="{{ path('resource_edit', { 'resourceID': listResources[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><i class="w3-xlarge fa fa-{{ resource_icon }}"></i>&nbsp;{{ listResources[i*listContext.numberLinesDisplayed+j].name }}<span class="w3-badge w3-right w3-green">P</span></a>
{% else %}
	<a href="{{ path('resource_edit', { 'resourceID': listResources[i*listContext.numberLinesDisplayed+j].ID }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><i class="w3-xlarge fa fa-{{ resource_icon }}"></i>&nbsp;{{ listResources[i*listContext.numberLinesDisplayed+j].name }}</a>
{% endif %}

{% endif %}

{% endblock %}
