{# templates/user_file_group/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block documentation %}
<a href="{{ path('documentation', { 'pageCode': 'USERFILE-GROUP' }) }}" target="_blank" class="w3-bar-item w3-button"><img src="{{ asset('images/help-16.png') }}">&nbsp;{{ 'help'|trans }}</a>
{% endblock %}

{% block body %}

<div class="w3-panel w3-border-bottom w3-text-indigo"><h4>
	<img src="{{ asset('images/user-group-32.png') }}"></img>&nbsp;{{ userFileGroup.name }}
	&nbsp;
	{% if userFileGroup.type == 'ALL' %}
	<button onclick="document.getElementById('unaAll').style.display='block'" class="w3-button w3-text-red" title="{{ 'modify'|trans }}"><i class="fa fa-pencil"></i></button>
	{% else %}
	<a href="{{ path('user_file_group_modify', { 'userFileGroupID': userFileGroup.ID, 'page': page }) }}" class="fa fa-pencil w3-xlarge" title="{{ 'modify'|trans }}"></a>
	{% endif %}
	&nbsp;
</h4></div>

<table class="w3-table w3-margin-top">
{% if (numberUserBefore > 0) %}
<tr><td colspan="{{ numberColumnsDisplayed }}">
<a href="{{ path('user_file_group_edit', { 'userFileGroupID': userFileGroup.ID, 'page': (page-1) }) }}" class="fa fa-arrow-left w3-text-indigo w3-large" title="{{ 'page.previous'|trans }}">&nbsp;{{ numberUserBefore }}&nbsp;{{ 'users'|trans }}</a>
</td></tr>
{% endif %}
{% for i in 0..numberLinesDisplayed-1 if numberLinesDisplayed > 0 %}
	<tr>
{% for j in 0..numberColumnsDisplayed-1 %}
	<td>
{% if (j*numberLinesDisplayed+i) < numberRecordsDisplayed %}
<img src="{{ asset('images/' ~ userFiles[j*numberLinesDisplayed+i].image ~ '-32.png') }}">&nbsp;{{ userFiles[j*numberLinesDisplayed+i].name }}
{% endif %}
	</td>
{% endfor %}
	</tr>
{% endfor %}
{% if (numberUserAfter > 0) %}
<tr><td colspan="{{ numberColumnsDisplayed }}">
<a href="{{ path('user_file_group_edit', { 'userFileGroupID': userFileGroup.ID, 'page': (page+1) }) }}" class="fa fa-arrow-right w3-text-indigo w3-large" title="{{ 'page.next'|trans }}">&nbsp;{{ numberUserAfter }}&nbsp;{{ 'users'|trans }}</a>
</td></tr>
{% endif %}
</table>

<div class="w3-show-inline-block w3-margin-top">
<div class="w3-bar w3-border w3-round">
	<a href="{{ path('user_file_group', { 'page': 1 }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-arrow-left"></i>&nbsp;{{ 'userFileGroup.back.to.list'|trans }}</a>
		{% if userFileGroup.type == 'ALL' %}
		<button onclick="document.getElementById('dnaAll').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;<del>{{ 'delete'|trans }}</del></button>
		{% elseif userFileGroup.getPlanificationViewUserFileGroups()|length > 0 %}
			<button onclick="document.getElementById('dnaView').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;<del>{{ 'delete'|trans }}</del></button>
		{% else %}
			<button onclick="document.getElementById('askDelete').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;{{ 'delete'|trans }}</button>
		{% endif %}
		{% if userFileGroup.type == 'ALL' %}
		<button onclick="document.getElementById('unaAll').style.display='block'" class="w3-bar-item w3-button w3-indigo"><i class="fa fa-user"></i>&nbsp;<del>{{ 'users'|trans }}</del></button>
		{% else %}
		<a href="{{ path('user_file_group_users', { 'userFileGroupID': userFileGroup.ID, 'userFileIDList': userFileIDList }) }}" class="w3-bar-item w3-button w3-indigo"><i class="fa fa-user"></i>&nbsp;{{ 'users'|trans }}</a>
		{% endif %}
</div>
</div>

<!-- Modal -->
<div id="dnaView" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-red">
			<span onclick="document.getElementById('dnaView').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'delete.not.allowed'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-red">
			<p>{{ 'userFileGroup.dna.view'|trans({'%name%': userFileGroup.name}) }}</p>
			<div class="w3-show-inline-block w3-right w3-margin-bottom">
			<div class="w3-bar w3-border w3-round">
				<button onclick="document.getElementById('dnaView').style.display='none'" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}</button>
				<a href="{{ path('user_file_group_foreign', { 'userFileGroupID': userFileGroup.ID }) }}" class="w3-bar-item w3-button w3-green"><i class="fa fa-eye"></i>&nbsp;{{ 'see.details'|trans }}</a>
			</div>
			</div>
		</div>
	</div>
</div>

<div id="askDelete" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-khaki">
			<span onclick="document.getElementById('askDelete').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'deletion'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-khaki">
			<p>{{ 'userFileGroup.ask.delete'|trans({'%name%': userFileGroup.name}) }}</p>
			<div class="w3-show-inline-block w3-right w3-margin-bottom">
			<div class="w3-bar w3-border w3-round">
				<button onclick="document.getElementById('askDelete').style.display='none'" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}</button>
				<a href="{{ path('user_file_group_delete', { 'userFileGroupID': userFileGroup.ID }) }}" class="w3-bar-item w3-button w3-red"><i class="fa fa-check"></i>&nbsp;{{ 'validate'|trans }}</a>
			</div>
			</div>
		</div>
	</div>
</div>

<div id="dnaAll" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-red">
			<span onclick="document.getElementById('dnaAll').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'delete.not.allowed'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-red">
			<p>{{ 'userFileGroup.dna.all'|trans }}</p>
		</div>
	</div>
</div>

<div id="unaAll" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-red">
			<span onclick="document.getElementById('unaAll').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'update.not.allowed'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-red">
			<p>{{ 'userFileGroup.una.all'|trans }}</p>
		</div>
	</div>
</div>

{% endblock %}
