{# templates/user_file_group/index.html.twig #}

{% extends 'list.html.twig' %}

{% set create_path, list_path, display_create_path = 'user_file_group_add', 'user_file_group', true %}

{% block documentation %}
<a href="{{ path('documentation', { 'pageCode': 'USERFILE-GROUP' }) }}" target="_blank" class="w3-bar-item w3-button"><img src="{{ asset('images/help-16.png') }}">&nbsp;{{ 'help'|trans }}</a>
{% endblock %}

{% block link %}
	<a href="{{ path('user_file_group_edit', { 'userFileGroupID': listUserFileGroups[i*listContext.numberLinesDisplayed+j].ID, 'page': 1 }) }}" class="w3-bar-item w3-button w3-{{ lineColor }} w3-round-large"><img src="{{ asset('images/user-group-32.png') }}">&nbsp;{{ listUserFileGroups[i*listContext.numberLinesDisplayed+j].name }}<span class="w3-badge w3-right w3-green">{{ listUserFileGroups[i*listContext.numberLinesDisplayed+j].getUserFiles()|length }}</span></a>
{% endblock %}
