{# templates/query_booking/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}

<div class="w3-panel w3-border-bottom w3-text-indigo">
<h4><img src="{{ asset('images/dashboard-32.png') }}"></img>&nbsp;{{ queryBooking.name }}</h4>
</div>

<div class="w3-show-inline-block">
<div class="w3-bar w3-border w3-round">
	<a href="{{ path('query_booking', { 'page': 1 }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-arrow-left"></i>&nbsp;{{ 'queryBooking.back.to.list'|trans }}</a>
	<a href="{{ path('query_booking_modify', { 'queryBookingID': queryBooking.ID }) }}" class="w3-bar-item w3-button w3-indigo"><i class="fa fa-pencil"></i>&nbsp;{{ 'modify'|trans }}</a>
	<button onclick="document.getElementById('askDelete').style.display='block'" class="w3-bar-item w3-button w3-red"><i class="fa fa-trash"></i>&nbsp;{{ 'delete'|trans }}</button>
</div>
</div>

<!-- Modal -->
<div id="askDelete" class="w3-modal w3-animate-opacity">
	<div class="w3-modal-content">
		<header class="w3-container w3-khaki">
			<span onclick="document.getElementById('askDelete').style.display='none'" class="w3-button w3-large w3-display-topright">&times;</span>
			<h3>{{ 'deletion'|trans }}</h3>
		</header>
		<div class="w3-container w3-bottombar w3-border-khaki">
			<p>{{ 'queryBooking.ask.delete'|trans({'%name%': queryBooking.name}) }}</p>
			<div class="w3-show-inline-block w3-right w3-margin-bottom">
			<div class="w3-bar w3-border w3-round">
				<button onclick="document.getElementById('askDelete').style.display='none'" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}</button>
				<a href="{{ path('query_booking_delete', { 'queryBookingID': queryBooking.ID }) }}" class="w3-bar-item w3-button w3-red"><i class="fa fa-check"></i>&nbsp;{{ 'validate'|trans }}</a>
			</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
