{# templates/query_booking/modify.html.twig #}

{% extends 'base.half.html.twig' %}

{% block content %}

<div class="w3-panel w3-border-bottom w3-text-indigo">
	<p><img src="{{ asset('images/dashboard-32.png') }}">&nbsp;</img>{{ queryBooking.name }}</p>
</div>

{{ form_start(form, {'action': path('query_booking_modify', { 'queryBookingID': queryBooking.ID }), 'method': 'POST'}) }}

<form class="w3-container">

{{ form_errors(form) }}

<p><label>{{ 'queryBooking.name'|trans }}</label>
{{ form_widget(form.name) }}
<div class="w3-text-red">{{ form_errors(form.name) }}</div></p>

<p>{{ form_row(form.periodType) }}</p>
<p>{{ form_row(form.beginningDate) }}</p>
<p>{{ form_row(form.endDate) }}</p>

{{ form_rest(form) }}

<div class="w3-show-inline-block">
<div class="w3-bar w3-border w3-round">
	<a href="{{ path('query_booking_edit', { 'queryBookingID': queryBooking.ID }) }}" class="w3-bar-item w3-button w3-light-gray"><i class="fa fa-times"></i>&nbsp;{{ 'cancel'|trans }}</a>
	<button type="submit" class="w3-bar-item w3-button w3-green"><i class="fa fa-check"></i>&nbsp;{{ 'validate'|trans }}</button>
</div>
</div>

</form>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	<script src="{{ asset('scripts/queryBooking_modify.js') }}"></script>
{% endblock %}
