{# templates/user/forgot.login.or.password.html.twig #}

{% extends 'base.half.html.twig' %}

{% block content %}

<div class="w3-panel w3-border-bottom w3-text-indigo"><h4>
	<i class="fa fa-sign-in w3-xlarge"></i>&nbsp;{{ 'user.forgot.login.or.password'|trans }}
</h4></div>

{{ form_start(form, {'action': path('user_forgot_login_or_password'), 'method': 'POST'}) }}

<form class="w3-container">

<p><label>{{ 'user.email'|trans }}</label>
{{ form_widget(form.email) }}
<div class="w3-text-red">{{ form_errors(form.email) }}</div></p>

{{ form_rest(form) }}

<div class="w3-bar">
	<a href="{{ path('user_login') }}" class="w3-bar-item w3-button w3-light-gray w3-border"><i class="fa fa-chevron-left"></i>&nbsp;{{ 'cancel'|trans }}</a>
	<button type="submit" class="w3-bar-item w3-button w3-green"><i class="fa fa-check"></i>&nbsp;{{ 'validate'|trans }}</button>
</div>

</form>

{{ form_end(form) }}

{% endblock %}

{% block javascripts %}
	<script>document.getElementById('sd_email_email').focus();</script>
{% endblock %}
